# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
